################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSHARP/ucenje/ucenjeCS/E17Subota/Raspored.cs
